*.swp
*.swo

### Api1 ###
# venv
env/

# cache
__pycache__/

# env file
.env*

# asset
Api1/uploads/
Api1/temp/

# db-migrations
Api1/migrations/

### SPA ###

# npm node module
node_modules/

# env
.env.*

# env sh
env.*

# compiled production dir
dist/
