*.swp
*.swo

### Api1 ###
# venv
env/

# cache
__pycache__/

# env file
.env*

# asset
Api1/uploads/
Api1/temp/

### SPA ###

# npm node module
node_modules/

# env
.env.*

# compiled production dir
dist/

# docker secrets
docker-compose.secrets.yml

### Integration Testing ###

# mvn target (compiled files)
IntegrationTesting/target/
