@import '../../Base/Css/GlobalVariables';

.header-menu-ul {

  z-index: 9000;

  /* disable default */
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  position: fixed;
  text-align: center;

  @media only screen and (max-width: $laptopSize - 1 + "px") {
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s
  }

  @media only screen and (min-width: $laptopSize + "px") {
    right: 0;
    margin-right: 5px;
  }
}

.header-menu-close-icon-row {
  text-align: end;
}

.header-menu-close-icon {
  color: white;
}

.header-menu-li {

  cursor: pointer;
  padding: 5px;

  @media only screen and (max-width: $laptopSize - 1 + "px") {
    font-size: $titileFontSize;
    margin: 3px 0;
    clear: right; // prevent be beside in the menu close icon
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      margin: 0 5%;
      width: 90%; 
      height: 1px;
      background-color: white; 
    }
  }

  @media only screen and (min-width: $laptopSize + "px") {
    display: inline-block;
    font-size: $subTitleFontSize;
    margin: 0 3px;
  }

}

.header-menu-li-link {
  text-decoration: none;
  font-weight: bold;

  @media only screen and (max-width: $laptopSize - 1 + "px") {
    color: white;
  }

  @media only screen and (min-width: $laptopSize + "px") {
    color: black;
  }
}
