@import '../Base/Css/GlobalVariables';

.footer-wrapper {
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
  top: $headerHeight;
}

.footer-content-wrapper {

  @media only screen and (min-width: $mobileLSize + "px") and (max-width: $tabletSize + "px") {
    max-width: $desktopContentWidth;
    width: 100%;
    margin: 0 auto;
  }

  @media only screen and (min-width: $tabletSize + 1 + "px") {
    max-width: $desktopContentWidth;
    width: 100%;
    margin: 0 auto;
  }
}

.footer-content-about-me-wrapper {
}
