@import '../../Base/Css/GlobalVariables';
@import '../../Base/Css/Mixins';

.setting-wrapper {

  @media only screen and (max-width: $laptopSize - 1 + "px") {
  }

  @media only screen and (min-width: $laptopSize + "px") {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 0 10px;
    justify-content: center;
  }
}

.setting-list-wrapper {

  @media only screen and (max-width: $laptopSize - 1 + "px") {
    white-space: nowrap;
    box-sizing: border-box; 
    padding: 10px;
  }

  @media only screen and (min-width: $laptopSize + "px") {
  }
}

.setting-list-ul {

  font-size: $subTitleFontSize;
  list-style-type: none;
  background-color: yellow;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;

  @media only screen and (max-width: $laptopSize - 1 + "px") {
    overflow-y: hidden;
    text-align: center;
  }

  @media only screen and (min-width: $laptopSize + "px") {
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
  }
}

.setting-list-li {

  @include link-in-text;

  @media only screen and (max-width: $laptopSize - 1 + "px") {
    display: inline-block;
    padding: 0 10px;
  }

  @media only screen and (min-width: $laptopSize + "px") {
    font-size: 1.2em;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    padding: 10px 0;
  }
}

.setting-content {
  background-color: darkkhaki;

  @media only screen and (max-width: $laptopSize - 1 + "px") {
    padding: 0 20px;
  }

  @media only screen and (min-width: $laptopSize + "px") {
    width: 600px;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
  }
}
