@import '../../Base/Css/GlobalVariables';
@import '../../Base/Css/Mixins';

.setting-wrapper {

  @media only screen and (max-width: $laptopSize + "px") {
  }

  @media only screen and (min-width: $laptopSize + 1 + "px") {
  }
}

.setting-list-wrapper {

  white-space: nowrap;
  box-sizing: border-box; 
  padding: 10px;
  @media only screen and (max-width: $laptopSize + "px") {
  }

  @media only screen and (min-width: $laptopSize + 1 + "px") {
  }
}

.setting-list-ul {

  font-size: $subTitleFontSize;
  font-weight: bold;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 10px;
  overflow-y: hidden;
  text-align: center;
  @media only screen and (max-width: $laptopSize + "px") {
  }

  @media only screen and (min-width: $laptopSize + 1 + "px") {
  }
}

.setting-list-li {

  @include link-in-text;
  display: inline-block;
  padding: 0 10px;

  @media only screen and (max-width: $laptopSize + "px") {
  }

  @media only screen and (min-width: $laptopSize + 1 + "px") {
  }
}

.setting-content {
  padding: 0 20px;
  @media only screen and (max-width: $laptopSize + "px") {
  }

  @media only screen and (min-width: $laptopSize + 1 + "px") {
  }
}
