@import './Mixins';
@import './GlobalVariables';

body {
  font-family: $mainFontFamily;
}

.hidden-input {
  @include base-input;
  width: 0;
  padding: 0;
  transition: 1s width;
}

.white-input {
  @include base-input;
  color: white;
  padding: 5px;
}

.close-icon-row {
  text-align: end;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  color: black;
  @include base-icon-wrapper;
}

.white-icon-wrapper {
  width: 50px;
  height: 50px;
  color: white;
  @include base-icon-wrapper;
}

.icon {
  width: 30px;
  height: 30px;
  @include base-icon;
}

.small-icon-wrapper {
  width: 20px;
  height: 20px;
  @include base-icon-wrapper;
}

.small-icon {
  width: 15px;
  height: 15px;
  @include base-icon;
}

.tab {
  background-color: transparent;
  border: solid 2px black;
  border-radius: 7px;
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  font-family: $mainFontFamily;
  font-weight: bold;
  line-height: 0px; 
  box-shadow: 1px 2px 2px grey;
  outline: none; 
}

.tab:active {
  background-color: grey;
  color: white;
  outline: none; 
  box-shadow: none; 
}

.btn {
  background-color: black;
  color: white;
  border: solid 2px black;
  border-radius: 7px;
  height: 30px;
  box-sizing: border-box;
  padding: 10px 50px 10px 50px;
  margin: 15px auto;
  font-family: $mainFontFamily;
  font-size: $subTitleFontSize;
  font-weight: bold;
  line-height: 0px; 
  box-shadow: 1px 2px 2px grey;
  outline: none; 
  cursor: pointer;
  display: block;
}

.btn:active {
  background-color: white;
  color: black;
  outline: none; 
  box-shadow: none; 
}

.link {
  text-decoration: none;
}



.context-wrapper {

  box-sizing: border-box;

  @media only screen and (max-width: $tabletSize + "px") {
  }

  @media only screen and (min-width: $tabletSize  + 1 +  "px") {
    display: flex;
  }
}

.main-wrapper {
  padding: 0 10px;

  @media only screen and (max-width: $tabletSize + "px") {
  }

  @media only screen and (min-width: $tabletSize  + 1 +  "px") {
    flex-basis: 75%;
  }
}

.aside-wrapper {
  padding: 0 10px;

  @media only screen and (max-width: $tabletSize + "px") {
  }

  @media only screen and (min-width: $tabletSize  + 1 +  "px") {
    flex-basis: 25%;
  }
}

.input-text {
  @include input-text; 
}

.regular-btn {
  @include regular-btn;
}

.modal-form-wrapper {
  @include modal-form-wrapper;
}

.modal-form-cover {
  @include modal-form-cover; 
}

.tag-icon {
  @include tag-icon;
}

