@import './Mixins';
@import './GlobalVariables';

.input-text {
  @include input-text; 
}

.regular-btn {
  @include regular-btn;
}

.modal-form-wrapper {
  @include modal-form-wrapper;
}

.modal-form-cover {
  @include modal-form-cover; 
}

.tag-icon {
  @include tag-icon;
}
