/* media */
$mobileSSize: 320;
$mobileLSize: 425;
$tabletSize: 768;
$laptopSize: 1024;
$desktopSize: 1440;

/* text */
$mainColor: black;

/* font-size*/
$titileFontSize: 2em;
$subTitleFontSize: 1.4em;
$regularFontSize: 1em;

/* header */
$headerHeight: 50px;
