@mixin input-text {
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 0 3px grey;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

@mixin regular-btn {
  margin: 0 3px;
  font-size: 1.2em;
  border-radius: 3px;
  padding: 10px;
  background-color: pink;
  border: 1px solid grey;
  
}

@mixin link-in-text {
  color: #0366d6;
  text-decoration: none;
}

@mixin modal-form-wrapper {
  z-index: 9500;

  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(183, 255, 255, 0.5); 
}

@mixin modal-form-cover {
  z-index: 9501;
  
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(183, 198, 255, 0.5); 
  border-radius: 5px;

  max-width: 400px;
}

@mixin tag-icon {
  background-color: rgba(255, 73, 73, 0.5);
  display: inline-block;
  box-sizing: border-box;
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 0px 5px 0px 5px;

}
