@mixin input-text {
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 0 3px grey;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

@mixin regular-btn {
  margin: 0 3px;
  font-size: 1.2em;
  border-radius: 3px;
  padding: 10px;
  background-color: pink;
  border: 1px solid grey;
  
}

@mixin link-in-text {
  color: #0366d6;
  text-decoration: none;
}

