@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.slate-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.slate-editor {
  width: 100%;
  min-height: 30%;
  font-size: $subTitleFontSize;
}

