@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.login-form-wrapper {

}

.login-form-cover {
}

.login-form-title {
  text-align: center;
}

.login-form-content {
  font-size: $subTitleFontSize; 
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
}

.login-form-content-item {
  margin: 20px 0;
}


.login-form-content-email {
}

.login-form-content-password {
}

.login-form-content-password-confirm {
}

.login-form-content-item-label {
  display: block;
  text-align: start;

}

.login-form-content-item-input {
  width: 100%;
  @include input-text;
}

.login-form-content-item-input:focus {
    
}

.login-form-content-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.login-form-content-btn {
  @include regular-btn;
}

.login-form-content-btn:hover {
}

.login-form-content-btn:active {
  box-shadow: 0 0 10px grey;
}




