@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.filter-sort-aside-wrapper {
  z-index: 8000;
  text-align: center;

  @media only screen and (max-width: $tabletSize + "px") {
    box-sizing: border-box;
    //padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: white;
    transition: 0.5s height;
  }

  @media only screen and (min-width: $tabletSize + 1 + "px") {
   // height: 100%;
  }
}

.filter-sort-aside-content {
  list-style-type: none;
  margin-block-start: 0; 
  margin-block-end: 0;
  padding-inline-start: 0;
  box-sizing: border-box;
  padding: 0 10px;

  @media only screen and (min-width: $tabletSize + 1 + "px") {
    padding: 0; 
  }
}

.filter-sort-aside-content-close-icon {
  color: white;
}

.filter-sort-aside-title {
  text-align: left; 
  @media only screen and (max-width: $tabletSize + "px") {
    font-size: $titleFontSize;
  }
  @media only screen and (min-width: $tabletSize + 1 + "px") {
    font-size: 1.5em; // must match with 'be part of it' title font size
  }
}

.filter-sort-aside-sort-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.aside-sort-item-wrapper {
  display: inline-block;
  box-sizing: border-box;
  font-size: $subTitleFontSize;
  margin: 3px;
  padding: 3px;
  border-radius: 4px;

  @media only screen and (max-width: $tabletSize + "px") {
    border: 1px solid white;
  }

  @media only screen and (min-width: $tabletSize + 1 + "px") {
    border: 1px solid black;
  }
}

.aside-sort-item-wrapper:hover, .aside-sort-item-selected-wrapper {
  @media only screen and (max-width: $tabletSize + "px") {
    color: black;
    background-color: white;
    border: 1px solid black;
  }

  @media only screen and (min-width: $tabletSize + 1 + "px") {
    color: white;
    background-color: black;
    border: 1px solid white;
  }
}

.aside-filter-input-wrapper {
  white-space: nowrap;

  @media only screen and (max-width: $tabletSize + "px") {
    text-align: center;
  }

  @media only screen and (min-width: $tabletSize + 1 + "px") {
    text-align: left;
  }

  & > .aside-filter-icon-wrapper {
    vertical-align: middle;
  }
}

.aside-sort-item-input {
  display: none;
}

.aside-filter-label {
  font-size: $subTitleFontSize;
}

.aside-filter-input {
  @media only screen and (max-width: $tabletSize + "px") {
    color: white;
    text-align: center;
  }

  @media only screen and (min-width: $tabletSize + 1 + "px") {
    color: black;
    text-align: center;
  }
}

.aside-filter-tag-wrapper {
  border: solid 1px black;
}

.aside-filter-tag-name {
  color: black;
}

.aside-filter-tags-list-selected {
}

