@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.tags-item-wrapper {
  display: inline-block;
  background-color: rgba(255, 53, 53, 0.5);
  box-sizing: border-box;
  border-radius: 0px 6px 0px 6px;
  margin: 2px;
  box-shadow: 1px 1px 3px grey;
}

.tags-item-name {
  font-style: normal;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  vertical-align: middle;
  padding: 0 5px;
}

.tags-item-cancel-btn {
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  vertical-align: middle;
  color: white;
  padding: 0 3px 0 0;
}
