@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.tags-item-wrapper {
  margin: 3px;
  display: inline-block;
  box-sizing: border-box;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 3px 5px;
}

.tags-item-name {
  font-style: normal;
  font-size: $subTitleFontSize;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  padding: 0 5px;
  vertical-align: middle;
}

.tags-item-close-icon-wrapper {
  vertical-align: middle;
}

.black-tags-item-wrapper {
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.black-tags-item-name {
  color: black;
}
