@import '../../Base/Css/GlobalVariables';
@import '../../Base/Css/Mixins';

.signup-form-wrapper {
  
}

.signup-form-cover {
}

.signup-form-title {
  text-align: center;
}

.signup-login-form-content {
  font-size: $subTitleFontSize; 
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  width: 320px;  
  margin: 0 auto;
  text-align: center;
}

.signup-login-link-wrapper {
  margin: 10px 0 30px 0;
}

