@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.forgot-password-email-modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  border-radius: 10px;
}

.forgot-password-email-modal-title {
  font-size: $titleFontSize;
}

.forgot-password-email-modal-sentence {
  font-size: $subTitleFontSize;
}

.forgot-password-email-modal-close-icon {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 2px grey;
}


