@import '../../Base/Css/GlobalVariables';
@import '../../Base/Css/Mixins';

.blog-wrapper {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  margin: 20px auto 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}

.blog-title {

}

.blog-subtitle {
  font-weight: normal;
  font-size: $subTitleFontSize;

}

.blog-tags-wrapper {
}

.blog-author-wrapper {
}

.blog-author-avatar {
}

.blog-author-name {
}

.blog-content-wrapper {
  font-size: $subTitleFontSize; 
}
