@import '../../Base/Css/GlobalVariables';

.home-wrapper {
  width: 100%;
}

.home-search-bar-wrapper {
  display: flex;
  justify-content: flex-end;
}

.home-title-wrapper {
  width: 80%; 
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}

.home-slogan {
  text-align: center;
}

.home-blog-tabs-wrapper {
  margin: 0 10px;
}

.home-blog-list-wrapper {
  margin: 10px;
}


