@import '../../Base/Css/GlobalVariables';

.home-wrapper {
  width: 100%;

  @media only screen and (max-width: $mobileLSize - 1 + "px") {
  }

  @media only screen and (min-width: $mobileLSize + "px") and (max-width: $tabletSize - 1 + "px") {
  }

  @media only screen and (min-width: $tabletSize + "px") {
  }
}

.home-search-bar-wrapper {
  display: flex;
  justify-content: flex-end;
}

.home-title-wrapper {
  width: 80%; 
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}

.home-slogan {
  text-align: center;
}

.home-blog-tabs-wrapper {
  margin: 0 10px;
}
