@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.profile-wrapper {

}

.profile-title {
  position: relative;
  padding: 0.83em;
}

.profile-title::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  margin: 0;
}

