@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.profile-wrapper {

}

.profile-title {
  position: relative;
  padding: 0.83em;
}

.profile-title::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  margin: 0;
}

.profile-content-wrapper {
  @media only screen and (max-width: $tabletSize + "px") {
    text-align: center;
  }
  @media only screen and (min-width: $tabletSize + 1 + "px") {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: repeat(5, minmax(100px, 100px));
  }
}

.profile-picture-wrapper {

  background-color: white;
  border-radius: 3px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;


  width: 100%;
  @media only screen and (max-width: $tabletSize + "px") {
  }
  @media only screen and (min-width: $tabletSize + 1 + "px") {
    grid-column-start: 2;
    grid-row-start: 1; 
  }

}

.profile-picture-img {

  border-radius: 50%;
}

.profile-input-wrapper {
  @media only screen and (max-width: $tabletSize + "px") {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

  }
  @media only screen and (min-width: $tabletSize + 1 + "px") {
    margin-bottom: 15px;
    grid-column-start: 1;
    grid-column-end: 1;
  }

}

.profile-input-label {
  font-weight: bold;
  font-size: 1.4em;
  display: block;
  @media only screen and (max-width: $tabletSize + "px") {
    text-align: left;
  }
  @media only screen and (min-width: $tabletSize + 1 + "px") {
  }
}

.profile-input {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.profile-picture-input-wrapper {

  margin: 10px 0;

  @media only screen and (max-width: $mobileLSize + "px") {

  }
}

.profile-picture-label {
  display: inline;
  padding: 3px 17px;
}

.profile-picture-input-label::after {
}

.profile-picture-input {
  display: none;
}

