@import '../../Base/Css/GlobalVariables';

.header-menu-wrapper {
  /* implement when adding event handling in react */
  /* for now hide this wrapper */
  display: none; // <=====

  z-index: 8000;  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,63,0.5);
}
