@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.fetch-status-wrapper {
  height: 50px;
}

.fetch-status-title {
  margin: 5px 0;
}

.fetch-status-err-msg {
  margin: 0;
}

