@import '../../Base/Css/GlobalVariables';
@import '../../Base/Css/Mixins';

.blog-wrapper {
  display: flex;
  justify-content: center;
}

.blog-aside-wrapper {
  background-color: yellow;
  width: 100px;

  @media only screen and (max-width: $tabletSize - 1 + "px") {
    position: fixed;
    left: 0;
    top: $headerHeight;
    height: 100%;
    z-index: 9000;
  }

  @media only screen and (min-width: $tabletSize + "px") {
  }
}

.blog-filter-sort-close-icon-wrapper {
  text-align: right;
}

.blog-filter-sort-close-icon {
  font-style: normal;
  font-size: 20px;

  width: 30px;
  height: 30px;
  background-color: white; 
  
  box-sizing: border-box;
  margin: 5px;

  border-radius: 15px;
}

.blog-filter-wrapper {
  background-color: rgba(117, 255, 51, 0.5);
}

.blog-filter-title {
}

.blog-filter-tags-wrapper {
}

.blog-filter-tags-title {
}

.blog-filter-tags-tag {
}

.blog-filter-date-wrapper {
}

.blog-filter-date-title {
}

.blog-sort-wrapper {
}

.blog-sort-title {
}

.blog-filter-sort-item-wrapper {
}

.blog-filter-sort-item-input {
}

.blog-filter-sort-item-label {
}

.blog-section-wrapper {
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.blog-title {
}

.blog-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  background-color: purple;
  justify-content: center;
}

.blog-items-item-wrapper {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: rgba(51, 255, 189, 0.5);
  box-sizing: border-box;
  margin: 5px;
}

.blog-pagination-wrapper {
  text-align: center;
}

.blog-pagination-btn {
  font-family: inherit;
  border: 0;
  padding: 0;
  margin: 0 5px;
  
}

.blog-filter-sort-icon {
  width: 30px;
  height: 30px;
  background-color: black; 
  
  position: fixed;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  margin: 20px;

  border-radius: 15px;


}
