@import '../../../Base/Css/GlobalVariables';
@import '../../../Base/Css/Mixins';

.blog-management-wrapper {
  @media only screen and (max-width: $tabletSize - 1 + "px") {
  }

  @media only screen and (min-width: $tabletSize + "px") {
    display: flex;
    justify-content: center;
  }
}

.blog-management-main-wrapper {

  @media only screen and (max-width: $tabletSize - 1 + "px") {
  }

  @media only screen and (min-width: $tabletSize + "px") {
    width: 50vw;
    max-width: 600px;
    min-width: 500px;
    position: relative;
  }
}

.blog-management-title {
  text-align: center;
}

.blog-management-items-wrapper {
  height: 80vh;
  overflow-y: scroll;
}

.blog-management-item-wrapper {
  background-color: rgba(90, 171, 251, 0.5);
  border: 1px solid black;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.blog-management-item-img {
  width: 50px;
  height: 50px;
  background-color: rgba(90, 251, 205, 0.5);
  flex-shrink: 0;
}

.blog-management-item-title {
  font-size: $subTitleFontSize;
  margin: 0 10px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media only screen and (max-width: $mobileLSize - 1 + "px") {
    font-size: $regularFontSize;
  }
  /**@media only screen and (min-width: $mobileLSize + "px") and (max-width: $tabletSize - 1 + "px") {**/
}

.blog-management-item-created-date {
}

.blog-management-btn-wrapper {
  margin-left: auto;
  position: relative;
}

.blog-management-item-controller {
  box-sizing: border-box;
  margin: 0 5px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
}

.blog-management-item-controller-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 50px;
  display: none;
  //display: flex;
  justify-content: center;
  align-items: center;
}

.blog-management-item-edit-btn {
  box-sizing: border-box;
  border: 1px solid white;
  height: 30px;
  width: 50px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  margin: 0 5px; 
}

.blog-management-item-delete-btn {
  box-sizing: border-box;
  border: 1px solid white;
  height: 30px;
  width: 50px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  margin: 0 5px; 
}

.blog-management-item-close-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: $subTitleFontSize;
}

.blog-management-pagination-wrapper {
}

.blog-management-sort-filter-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.blog-management-aside-wrapper {
  text-align: center;
  @media only screen and (max-width: $mobileSSize + "px") {
    width: 100%;
  }

  @media only screen and (max-width: $tabletSize - 1 + "px") {
    box-sizing: border-box;
    padding: 5px;
    position: fixed;
    top: $headerHeight;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    color: white;
  }

  @media only screen and (min-width: $tabletSize + "px") {
    width: 200px;
    margin: 10px;
  }
}

.blog-management-aside-ul {
  list-style-type: none;
  margin-block-start: 0; 
  margin-block-end: 0;
  padding-inline-start: 0;
}

.blog-management-aside-new-blog-link {
  text-decoration: none;
  color: inherit;
}

.blog-management-aside-new-blog-label {
  border-radius: 3px;
  font-weight: normal;
  box-sizing: border-box;
  padding: 5px 0;
  margin-left: 5px;
  margin-right: 5px;

  @media only screen and (max-width: $tabletSize - 1 + "px") {
    border: 1px solid white;
  }

  @media only screen and (min-width: $tabletSize + "px") {
    border: 1px solid black;
  }
}

.blog-management-aside-new-blog-label:hover {

  @media only screen and (max-width: $tabletSize - 1 + "px") {
    color: black;
    background-color: white;
  }

  @media only screen and (min-width: $tabletSize + "px") {
    color: white;
    background-color: black;
  }
}


.blog-management-aside-filter-tags-input {
  box-sizing: border-box;
  border: none;
  margin: 2px;
  padding: 5px;
  width: 80%;
  border-radius: 5px;
}

.blog-management-aside-sort-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.blog-management-aside-sort-item-wrapper {
  display: inline-block;
  box-sizing: border-box;
  font-size: $subTitleFontSize;
  margin: 3px;
  padding: 3px;
  border-radius: 4px;

  @media only screen and (max-width: $tabletSize - 1 + "px") {
    border: 1px solid white;
  }

  @media only screen and (min-width: $tabletSize + "px") {
    border: 1px solid black;
  }
}

.blog-management-aside-sort-item-wrapper:hover {
  @media only screen and (max-width: $tabletSize - 1 + "px") {
    color: black;
    background-color: white;
    border: 1px solid black;
  }

  @media only screen and (min-width: $tabletSize + "px") {
    color: white;
    background-color: black;
    border: 1px solid white;
  }
}

.blog-management-aside-filter-sort-close-icon {
  font-size: 1.5em;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  padding: 3px 10px;

  @media only screen and (max-width: $tabletSize - 1 + "px") {
    border: 1px solid white; 
  }

  @media only screen and (min-width: $tabletSize + "px") {
    border: 1px solid black; 
  }
}
